<footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Personal-Doctor</h4>
                        <p> Bhiwani, Sector 13 <br> Street Number-14 </p> <strong>Phone:</strong> 1023456789 <br> <strong>Email:</strong> example@gmail.com <br>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Usefull Links</h4>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/searchDoctor">Search Doctor</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Others</h4>
                        <ul>
                            <li><a href="/doctorApplication">Join Us</a></li>
                            <li><a href="/dashboard">Doctor Dashboard</a></li>
                            <li><a href="/">Search about medicines</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Connect with us at different <br> social media platforms.</p>
                        <div class="socail-links mt-3"> 
                            <a href="/notfound"><i class="fa-brands fa-twitter"></i></a> 
                            <a href="/notfound"><i class="fa-brands fa-facebook-f"></i></a> 
                            <a href="/notfound"><i class="fa-brands fa-instagram"></i></a> 
                            <a href="/notfound"><i class="fa-brands fa-skype"></i></a> 
                            <a href="/notfound"><i class="fa-brands fa-linkedin"></i></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container py-4">
            <div class="copyright"> &copy; <strong><span>Personal-Doctor</span></strong>. All Rights Reserved </div>
            <div class="credits"> Designed by <a href="/notfound">Ankit Matth & Parhlad Singh</a> </div> <br>
        </div>
    </footer>