<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal-Doctor | About Us</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

    {{>header}}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6"> <img src="/static/images/about.jpeg" alt="Your Image" class="img-fluid border"> </div>
            <div class="col-md-6 border" style="background-color: rgb(2, 55, 116);color: white;">
                <div class="content">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="text-center mb-4">Your Health, Our Priority</h2>
                                <p> Welcome to Personal Doctor, a platform dedicated to bridging the gap between people in rural or backward areas and healthcare professionals. Our platform addresses two significant issues in the healthcare sector: </p>
                                <ol>
                                    <li> <strong>Connecting People and Doctors:</strong> In rural or backward areas, individuals often refrain from visiting doctors for minor problems or seeking consultation due to various reasons. Additionally, some doctors are willing to provide free or low-cost online services but lack a trusted and secure platform. Personal Doctor aims to connect these two groups, enabling seamless online consultations for minor issues and providing a secure space for doctors to offer their expertise. </li>
                                    <li> <strong>Medicine Information at Your Fingertips:</strong> We understand that it's easy to forget the purpose of medicines after a few days. Personal Doctor allows users to access information about any medicine's uses. Simply search for the medicine, and our platform will provide you with detailed information, ensuring you have the knowledge you need about your medications. </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 text-left">
        <div class="row">
            <div class="col-lg-11 m-auto">
                <h5 class="p-4 mb-5 rounded" style="background-color: rgb(2, 55, 116);color: white;"> Personal Doctor empowers users to seamlessly engage in online chats, schedule audio-video calls with available doctors, and access medical information. Our secure and convenient platform facilitates communication, consultation, and collaboration between users and healthcare professionals, contributing to overall well-being. We welcome doctors to provide free services. While we do not charge for these services, we charge a 5% commission on revenue for doctors who earn money from consultations on our platform. <br><br> We believe everyone deserves access to quality healthcare, regardless of income. That's why we've made our platform accessible to all and partnered with doctors committed to providing free or low-cost care. </h5>
            </div>
        </div>
    </div>
   
    {{>footer}}
    
    <script src="/static/javascript/navBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>