<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal-Doctor | Contact Us</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="container formBox">
        <h1 id="topTxt">Customer Support</h1>
        <form action="/feedback" method="POST">
            <div class="form-group"> <label for="username">Username:</label> <input type="text" id="username" name="Username" placeholder="Enter your username" required readonly /> </div>
            <div class="form-group"> <label for="phone">Phone:</label> <input type="number" id="phone" name="Phone" value="" placeholder="Enter your phone number" required readonly/> </div>
            <div class="form-group"> <label for="issueDescription">Describe the Issue:</label> <textarea class="form-control" id="issueDescription" rows="4" placeholder="Enter a detailed description..." name="description" required></textarea> </div>
            <div class="form-group"> <input type="submit" value="Submit" /> </div>
        </form>
    </div>
    <div class="modal fade" id="loginPopUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title" id="staticBackdropLabel">Alert</h4>
         </div>
        <div class="modal-body">
          <h6>Kindly log in to your account to access this page.</h6>
        </div>
        <div class="modal-footer">
          <a href="/signUp" class="btn btn-primary">SignUp or Login</a>
        </div>
      </div>
    </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var hasData = localStorage.getItem("email");
            if(!hasData){
                var myModal = new bootstrap.Modal(document.getElementById('loginPopUp'));
                myModal.show();  
            }
            var username = document.getElementById('username')
            username.setAttribute("value",localStorage.getItem("userName"))
            username.addEventListener('mouseover',function(){
              username.style.cursor="not-allowed"
            })
            var phone = document.getElementById('phone')
            phone.setAttribute("value",localStorage.getItem("phoneNo"))
            phone.addEventListener('mouseover',function(){
              phone.style.cursor="not-allowed"
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>