.formBox {
  font-family: Arial, sans-serif;
  max-width: 550px !important;
  margin: auto;
  padding: 10px 30px !important;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0);
  margin-top: 55px;
}

.formBox h1 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="number"] {
  width: 100%;
  padding: 14px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group fieldset {
  font-weight: bold;
  width: 90%;
  padding: 6px 0px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #ff01b3;
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
}

.form-group input[type="submit"]:hover {
  background-color: #50f53b;
  color: black;
}

.form-group input[type="radio"] {
  accent-color: blue;
}

.form-group input[type="radio"]:hover {
  cursor: pointer;
}